[submodule "playbooks/aaron868/management"]
	path = playbooks/aaron868/management
	url = git@github.com:aaron868/management.git
[submodule "playbooks/ssalevan/stevesible"]
	path = playbooks/ssalevan/stevesible
	url = git@github.com:ssalevan/stevesible.git
[submodule "everything/redhat-openstack/khaleesi"]
	path = everything/redhat-openstack/khaleesi
	url = git@github.com:redhat-openstack/khaleesi.git
[submodule "everything/redhat-openstack/octario"]
	path = everything/redhat-openstack/octario
	url = git@github.com:redhat-openstack/octario.git
[submodule "everything/openstack-ansible"]
	path = everything/openstack-ansible
	url = git@github.com:openstack/openstack-ansible.git
[submodule "playbooks/RaymiiOrg"]
	path = playbooks/RaymiiOrg
	url = git@github.com:RaymiiOrg/ansible.git
[submodule "roles/yocto-ansible-docker-postgres"]
	path = roles/yocto-ansible-docker-postgres
	url = git@github.com:Yoctol/ansible-docker-postgres.git
[submodule "roles/yocto-ansible-docker-redis"]
	path = roles/yocto-ansible-docker-redis
	url = git@github.com:Yoctol/ansible-docker-redis.git
[submodule "everything/openshift-ansible"]
	path = everything/openshift-ansible
	url = git@github.com:openshift/openshift-ansible.git
[submodule "roles/rdo-rdomonitoring"]
	path = roles/rdo-rdomonitoring
	url = git@github.com:rdo-infra/ansible-role-rdomonitoring.git
[submodule "roles/rdo-rdobase"]
	path = roles/rdo-rdobase
	url = git@github.com:rdo-infra/ansible-role-rdobase.git
[submodule "playbooks/rdo-monitoring"]
	path = playbooks/rdo-monitoring
	url = git@github.com:rdo-infra/rdo-monitoring.git
[submodule "roles/rdo-rdobot"]
	path = roles/rdo-rdobot
	url = git@github.com:rdo-infra/ansible-role-rdobot.git
[submodule "everything/ansible-ansible-ansible-examples"]
	path = everything/ansible-ansible-ansible-examples
	url = git@github.com:ansible/ansible-examples.git
[submodule "everything/geerlingguy-ansible-vagrant"]
	path = everything/geerlingguy-ansible-vagrant
	url = git@github.com:geerlingguy/ansible-vagrant-examples.git
[submodule "everything/beetboxvm"]
	path = everything/beetboxvm
	url = git@github.com:beetboxvm/beetbox.git
[submodule "everything/ceph-ansible"]
	path = everything/ceph-ansible
	url = git@github.com:ceph/ceph-ansible.git
[submodule "code/ansible-hiera"]
	path = code/ansible-hiera
	url = https://github.com/padajuan/ansible-hiera
[submodule "playbooks/rhtconsulting-playbooks"]
	path = playbooks/rhtconsulting-playbooks
	url = git@github.com:rhtconsulting/ansible-middleware-playbooks.git
[submodule "roles/ngbalk"]
	path = roles/ngbalk
	url = https://github.com/ngbalk/ansible
[submodule "playbooks/redhat-cip/dci-infra"]
	path = playbooks/redhat-cip/dci-infra
	url = git@github.com:redhat-cip/dci-infra.git
[submodule "code/dci-ansible"]
	path = code/dci-ansible
	url = git@github.com:redhat-cip/dci-ansible.git
[submodule "playbooks/debops"]
	path = playbooks/debops
	url = git@github.com:debops/debops-playbooks.git
[submodule "everything/debops-ansible"]
	path = everything/debops-ansible
	url = git@github.com:debops/ansible-debops.git
[submodule "everything/fabaff-fedora-ansible"]
	path = everything/fabaff-fedora-ansible
	url = git@github.com:fabaff/fedora-ansible.git
[submodule "everything/fedora-infra"]
	path = everything/fedora-infra
	url = https://infrastructure.fedoraproject.org/infra/ansible.git
[submodule "everything/mrlesmithjr-ansible"]
	path = everything/mrlesmithjr-ansible
	url = git@github.com:mrlesmithjr/Ansible.git
[submodule "everything/edx-configuration"]
	path = everything/edx-configuration
	url = git@github.com:edx/configuration.git
[submodule "everything/roots-trellis"]
	path = everything/roots-trellis
	url = git@github.com:roots/trellis.git
[submodule "everything/cyverse-atmosphere-ansible"]
	path = everything/cyverse-atmosphere-ansible
	url = git@github.com:cyverse/atmosphere-ansible.git
[submodule "everything/adithyakhamithkar-ansible-playbooks"]
	path = everything/adithyakhamithkar-ansible-playbooks
	url = git@github.com:adithyakhamithkar/ansible-playbooks.git
[submodule "everything/AtlasOfLivingAustralia-ala-install"]
	path = everything/AtlasOfLivingAustralia-ala-install
	url = git@github.com:AtlasOfLivingAustralia/ala-install.git
[submodule "everything/redhat-cop-casl-ansible"]
	path = everything/redhat-cop-casl-ansible
	url = git@github.com:redhat-cop/casl-ansible.git
[submodule "everything/miphreal-dev-config"]
	path = everything/miphreal-dev-config
	url = git@github.com:miphreal/dev-config.git
[submodule "everything/thisdougb-ansible-hashivault"]
	path = everything/thisdougb-ansible-hashivault
	url = git@github.com:thisdougb/ansible-hashivault.git
[submodule "everything/leucos-ansible-tuto"]
	path = everything/leucos-ansible-tuto
	url = git@github.com:leucos/ansible-tuto.git
[submodule "everything/jlund-streisand"]
	path = everything/jlund-streisand
	url = git@github.com:jlund/streisand.git
[submodule "everything/enginyoyen-ansible-best-practices"]
	path = everything/enginyoyen-ansible-best-practices
	url = git@github.com:enginyoyen/ansible-best-practises.git
[submodule "roles/anistrano-deploy"]
	path = roles/anistrano-deploy
	url = git@github.com:ansistrano/deploy.git
[submodule "everything/kubernetes-incubator-kubespray"]
	path = everything/kubernetes-incubator-kubespray
	url = git@github.com:kubernetes-incubator/kubespray.git
[submodule "docs/lorin-ansible-quickref"]
	path = docs/lorin-ansible-quickref
	url = git@github.com:lorin/ansible-quickref.git
[submodule "code/inventory/adammck-terraform-inventory"]
	path = code/inventory/adammck-terraform-inventory
	url = git@github.com:adammck/terraform-inventory.git
[submodule "everything/trailofbits-algo-ipsec-vpn"]
	path = everything/trailofbits-algo-ipsec-vpn
	url = git@github.com:trailofbits/algo.git
[submodule "everything/sovereign-sovereign"]
	path = everything/sovereign-sovereign
	url = git@github.com:sovereign/sovereign.git
[submodule "playbooks/fusor/catasb"]
	path = playbooks/fusor/catasb
	url = git@github.com:fusor/catasb.git
[submodule "code/fusor/ansible-asb-modules"]
	path = code/fusor/ansible-asb-modules
	url = git@github.com:fusor/ansible-asb-modules.git
[submodule "everything/dev-sec-ansible-os-hardening"]
	path = everything/dev-sec-ansible-os-hardening
	url = git@github.com:dev-sec/ansible-os-hardening.git
[submodule "everything/tryolabs-metamon"]
	path = everything/tryolabs-metamon
	url = git@github.com:tryolabs/metamon.git
[submodule "roles/DavidWittman.redis"]
	path = roles/DavidWittman.redis
	url = git@github.com:DavidWittman/ansible-redis.git
[submodule "everything/analytically-hadoop-ansible"]
	path = everything/analytically-hadoop-ansible
	url = git@github.com:analytically/hadoop-ansible.git
[submodule "everything/laincloud-lain"]
	path = everything/laincloud-lain
	url = git@github.com:laincloud/lain.git
[submodule "docs/ansiblecookbook-ansiblecookbook"]
	path = docs/ansiblecookbook-ansiblecookbook
	url = git@github.com:ansiblebook/ansiblebook.git
[submodule "everything/dev-sec-ansible-ssh-hardening"]
	path = everything/dev-sec-ansible-ssh-hardening
	url = git@github.com:dev-sec/ansible-ssh-hardening.git
[submodule "everything/dev-sec-ansible-windows-hardening"]
	path = everything/dev-sec-ansible-windows-hardening
	url = git@github.com:dev-sec/ansible-windows-hardening.git
[submodule "everything/dev-sec-ansible-nginx-hardening"]
	path = everything/dev-sec-ansible-nginx-hardening
	url = git@github.com:dev-sec/ansible-nginx-hardening.git
[submodule "everything/jefftriplett-dotfiles"]
	path = everything/jefftriplett-dotfiles
	url = git@github.com:jefftriplett/dotfiles.git
[submodule "everything/geerlingguy-mac-dev-playbook"]
	path = everything/geerlingguy-mac-dev-playbook
	url = git@github.com:geerlingguy/mac-dev-playbook.git
[submodule "docs/geerlingguy-ansible-for-devops"]
	path = docs/geerlingguy-ansible-for-devops
	url = git@github.com:geerlingguy/ansible-for-devops.git
